@import "tailwindcss";

/* Color palette from coolors.co/0d1821-344966-e6aace */
@theme {
  --color-primary: #0d1821;
  --color-secondary: #344966;
  --color-accent: #e6aace;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.border{
  border: 2px solid;
}
header{
  padding: 10px;
  
}